<!DOCTYPE html>
<html>
<head>
    <title>Swift Kart</title>
    <link rel = "stylesheet" href = "estiloPgInicial.css">
    <link rel="icon" href = imagens/logo.png>
</head>
<body>
    <button type="button" id="botaoUsuario">
        <img id="imagemUsuario" src=<%= urlFotoUsuario %> >
    </button>
</body>
</html>